services:
  comfyui:
    platform: linux/amd64
    build: .
    ports:
      - "8188:8188"
    volumes:
      - ./models:/app/models
      - ./input:/app/input
      - ./output:/app/output
      - ./user:/app/user
      - ./custom_nodes:/app/custom_nodes
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
      - COMFYUI_MANAGER_AUTO_UPDATE=true
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: unless-stopped
    shm_size: '8gb'
